/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.featuresSkeleton {
  text-align: center;
  padding: 4rem 0;
  color: var(--ifm-color-primary);
  font-size: 1.1rem;
}